/* #0b0c10
#04d9ff
#13133a */

/*
#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e
*/

*{
  border:none;
  box-sizing: border-box;
}
body{
  background-color:#0b0c10;
  margin:0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

 #about a{
  color:#66fcf1;
  transition: all 0.3s ease-in;
}

#about a:href{
  text-decoration:underline;
  color:#c5c6c7;
  
}


/*********************STYLE main*****************/
.flex{
  display:flex;
}
.f-center{
  justify-content:center;
  align-items: center;
  flex-direction:column
}
.grid{
  display: grid;
  grid-template-columns: 0 1fr 0;
  grid-template-rows: 75% 1fr;
}

.container{
  width:90%;
  margin: 0 auto;
}
.text{
 padding:0.75em;
 text-align:center;
 letter-spacing: 0.075em;
 line-height: 1.2em;
}

.introduce strong{
  color:#c5c6c7;
  font-size:500;
}

.fas{
  color:#c5c6c7;
  font-size:4em;
  opacity:0.7;
}

.article-title{
  text-transform:uppercase;
  font-size:1.25em;
  letter-spacing:0.1em;
  padding: 0.5em 0;
  text-align: center;
}


.scrolled{
   animation: moveDown 0.5s ease-in-out 0.2s backwards;
}

/* overlap */
.overlapp:before {
  content: "";
  grid-column: 1/-1;
  grid-row: 1/1;
  background-color: #1f2833;
}


#site-header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  color: #c5c6c7;
  padding: 35px 20px;
  box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.25);
}

.section-title{
  color:#66fcf1;
  font-size:2em;
  text-align:center;
  letter-spacing:0.1em;
  padding-top:2.5em;
  padding-bottom: 1em;
  
}
.section-title >span{
  color:#c5c6c7;
}

/********NAVIGATION************/
.navbar-main{
  width:100%;
  background:#1f2833;
  box-shadow:1px 1px 4px rgba(0, 0, 0, 0.25);
  position:fixed;
  z-index:10;
  padding-bottom: 0.25em;
}
.navbar-main .container{
    width:95%;
    padding:0px;
  }
a{
  color:#66fcf1;
  text-align: center;
}

.navbar-main ul{
  margin:0;
  padding-top:0.5em;
  list-style:none;
  overflow:hidden;
}

.navbar-main ul a{
  display:block;
  padding:0.5em;
  text-decoration:none;
}

.navbar-main ul a:hover{
  color:#c5c6c7;
  font-size:1.1em;
  border-bottom:1px solid #c5c6c7;
  transition: 0.3s all ease-out;
}

.logo{
 height:2.5em; 
}

.navbar-main .logo{
  padding: 0.25em 0.25em;
  position:fixed;
}

.navbar-main .menu{
  clear:both;
  max-height:0;
  transition: max-height .3s ease-out;
}
.navbar-main .menu-icon{
  padding:1.25em 1.25em;
  position:relative;
  float:right;
  cursor:pointer;
}

.navbar-main .menu-icon .nav-icon{
  background:#c5c6c7;
  display:block;
  height:2px;
  width:18px;
  position:relative;
 transition: all .3s ease-out;
}

.navbar-main .menu-icon .nav-icon::before{
  background:#c5c6c7;
  content:'';
  display:block;
  height:100%;
  width:100%;
  position:absolute;
  transition: all .3s ease-out;
  top:5px;
  
}

.navbar-main .menu-icon .nav-icon::after{
  background:#c5c6c7;
  content:'';
  display:block;
  height:100%;
  width:100%;
  position:absolute;
  transition: all .3s ease-out;
  top:-5px;
  
}

.navbar-main .menu-btn{
  display:none;
}

.navbar-main .menu-btn:checked ~.menu{
  max-height:240px;
}

.navbar-main .menu-btn:checked ~.menu-icon .nav-icon{
 background-color:transparent;

}

.navbar-main .menu-btn:checked ~.menu-icon .nav-icon::before{
 transform:rotate(-45deg);
 top:0px;

}

.navbar-main .menu-btn:checked ~.menu-icon .nav-icon::after{
  transform:rotate(45deg);
  top:0px; 
}



@media (min-width:48em){
  .logo{
 height:3em; 
}
  .navbar-main{
    padding-bottom: 0.1em;
     padding:0.25em;
     height:3.5em;
  }
  .navbar-main li{
    float:left;
  }

  
  .navbar-main li a{
    padding: 0.25em 1.25em;
  }

  .navbar-main .menu{
    clear:none;
    float:right;
    max-height:none;
  }

  .navbar-main .menu-icon{
    display:none;
  }
}

/**********style header*****/
#site-header{
background: linear-gradient(0deg, rgba(11,12,16,1) 14%, rgba(102,252,241,0.4542191876750701) 100%),
 url(img/computerOnDesk-header.jpg);
  background-size:cover;
  background-position:center;
  height:100vh;
  flex-direction: column;
  background-attachment: fixed;
}

.main-header-text{
  font-size:3em;
  color:#c5c6c7;
  
}

.header-subtitle{
  font-size:1.5em;
  background-color:#0b0c10;
  color:#66fcf1;
  font-style: italic;
  margin-top:-1em;
  padding:0.1em;
 
}

#site-header .description{
  color:#c5c6c7;
  width:55%;
  text-align:center;
  padding:0.5em;
  line-height: 1.5em;
  font-weight:400;
  background-color:#0b0c10a3;
  color:#66fcf1;
}
.description em{
  color:#c5c6c7;
}
/* style about*/
.introduce{
  color:#45a29e;
  padding:1.5em;
  line-height: 1.5em;
  letter-spacing: 0.1em;;
}


/*style how*/
#how{
 background-color:#45a29e;
 color:#0b0c10;
 padding-bottom:1.5em;
}
#how > .section-title{
 color:#0b0c10;
}

#how >.section-title>span{
  color:#c5c6c7;
}
#how .container{
flex-direction:row;
}

.how-info{
  justify-content: space-between;
  margin:1em;
  width:25%;
  box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.25);
  font-size:0.9em;
}
.how-info:hover{
  background-color:#1f2833;
  color:#c5c6c7;
  transform:translateY(-1em);
  transition:0.5s;
}
/* portfolio*/
section .gallery{
  padding: 60px 0 0 0;
}
.gallery-wrapper{
display: flex;
flex-wrap: wrap;
margin: 72px 0 0 0;
}

.gallery-item{
position: relative;
margin: 0;
flex: 0 0 25%;
max-width: 25%;
text-align: center;

transition:0.5s;
}
.gallery-item img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease-out all .1s;
}
.gallery-item:before {
  position: absolute;
  display: none;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:#45a29ec0;
  transition: 0.4s ease-out all .1s;
}

.gallery-item figcaption{
position: absolute;
display: none;
width: 100%;
top: 50%;
transform: translateY(-50%);
 color:#000;
  font-weight:400;
  letter-spacing:0.25em;
  transition: 0.4s ease-out all .1s;
}

.gallery-item:hover:before, .gallery-item:hover figcaption {
  display: block;
  
}
figcaption{
  padding:1.5em;
}

figcaption .project-title{
 font-size:1em;
}
figcaption i{
  font-size:1.5em;
}
.live i{
  font-size:1.5em;
  color:#c5c6c7
}
.live a{
  text-decoration: none;
}
.live h4{
  padding:0.2em;
  margin:0.1em;
  color:#c5c6c7;
}
.live{
   color:#c5c6c7;
   cursor:pointer;
   padding:0.5em;
   margin-top:1em;
}

.live .see-live{
  border:1px solid #c5c6c7;
  background-color:#038ba3;
  padding:0.4em;
  transition: all 0.3s ease-out;
}

.live .see-live:hover{
  background-color: #0b0c10;

}




/*contact*/
#contact .background{

background: linear-gradient(0deg, rgba(11,12,16,1) 1%, rgba(31,40,51,0.6110819327731092) 98%),url(img/contact-bg.jpg);
  background-size:cover;
  background-position:center;
  height:40vh;
  width:100%;
}
#contact .container{
padding:5em;
justify-content: space-around;
flex-direction: row;
}
#contact h3{
  color:#45a29e;
}

#contact i{
  font-size:4em;
  color:#66fcf1;
   opacity:1;
}

  #contact .contact-ex{
    width:20em;
    display:block;
    text-align: center;
    font-size:0.7em;
    transition: all 0.3s ease-in;
  }
   #contact .contact-ex:hover{
    color:#45a29e;
    font-size:0.9em;
  }


/*footer*/

#footer h5{
  color:#66fcf1;
  font-weight:500;
  
}

#footer strong{
 color:#c5c6c7;
}
#footer a{
  text-decoration: none;
  color:#c5c6c7;
}

/* RWD resize element and behavior*/
@media (max-width: 48em) {

  .how-info{
  width:100%;
  margin:1em 0;
  
}

.main-header-text{
  font-size:2em;
}
.header-subtitle{
  font-size:1em;
}
.description{
  display:none;
}
.section-title{
  font-size:1.5em;
  padding-top:2.75em;
}
.article-title{
  font-size:1.25em;
}

  .flex{
   flex-direction: column!important;
 }
  .grid {
    grid-template-columns:1fr;
  } 

 #site-header{
   background: linear-gradient(0deg, rgba(11,12,16,1) 14%, rgba(102,252,241,0.4542191876750701) 100%),
   url(img/computerOnDesk-header-mobile.jpg);
   background-repeat: no-repeat;
   height:100vh;
   box-shadow:none;
   background-size: cover;
 }

 .container{
   width:100%;
   padding:0 5%;
 }
 
 .foto{
   width:220px;
 }

.gallery-wrapper{
    display:block;
  }
  .gallery-item{
    max-width:75%;
    margin:5% auto;
  }
  #contact .flex{
    flex-direction:column!important;
  }
   #contact .contact-ex{
    display:block;
    text-align: center;
    font-size:0.7em;
  }
  #contact .container {
    padding:2em;
  }
  #contact i{
    font-size:1.5em;
  }
   #contact .contact-ex:hover{
    color:#c5c6c7;
    font-size:0.9em;
  }
 }


/* animate*/

.hidden{
  opacity:0;
}

.animate{
  opacity:0;
}
 
 @keyframes fade-in {
    from {opacity: 0; 
    transform: scale(.7,.7)}
    to {opacity: 1;}
}

.fade-in-element {
  animation: fade-in 1.4s;
}

.move-down-element{
animation:move-down 1s;
}

 @keyframes move-down {
    from {opacity: 0; 
    transform: translateY(-7.5em)}
    to {opacity: 1;}
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #66fcf1; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing 3.5s steps(13, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 35% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #66fcf1; }
}

/*animated hover nav*/
@keyframes hover-v {
  0% {
      transform: scaleX(0);
      height: 5px;
     }
  45% {   
      transform: scaleX(1.05);
      height: 5px;
     }
  55% {height: 5px;}
  100% {
      transform: scaleX(1.05);
      height: 3.8rem;
     }
}
@keyframes no-hover-v {
  0% {
      transform: scaleX(1.05);
      height: 3.8rem;
     }
  45% {height: 5px;}
  55% {   
      transform: scaleX(1.05);
      height: 5px;
      opacity: 1;
     }
  
  100% {
      transform: scaleX(0);
      height: 5px;
      opacity: .02;
     }
}
